<div class="container-fluid login-wrapper" ng-controller="loginController">
    <div class="row nav-pad-top">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h1>Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="error-error text-center">
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 grey-box">
            <div class="form-group">
                <label>Username</label>
                <input type="text" ng-model="loginUsername" placeholder="John Smith" minlength="5" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" ng-model="loginPassword" placeholder="6 character min" minlength="6" class="form-control">
            </div>
            <div class="button-holder">
                <button type="submit" ng-click="loginFunc()" class="btn btn-success">Login</button>
            </div>
        </div>
    </div>
</div>
