<div class="container-fluid register-wrapper" ng-controller="registerController">
    <div class="row nav-pad-top">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h1>Registration</h1>
        </div>
    </div>
    <div class="row">
        <div class="error-text text-center">
            {{errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 grey-box">
            <form data-toggle="validator" role="form" id="new-form" name="new-book-mark" data-disable="true">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" required ng-model="regName" placeholder="John Smith" minlength="5" class="form-control">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" required ng-model="regUsername" placeholder="JSmith" minlength="5" class="form-control">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" required id="inputPassword" ng-model="regPassword" placeholder="6 character min" data-minlength="6" class="form-control">
                    <div class="help-block with-errors">Minimum 6 characters</div>
                </div>
                <div class="form-group">
                    <input type="password" required data-match="#inputPassword" ng-model="regPassword2" placeholder="confirm password" data-minlength="6" class="form-control" data-error="dont match">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" required ng-model="regEmail" placeholder="example@example.com" class="form-control" data-error="Doesn't look like an email address">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="button-holder">
                    <input type="submit" class="btn btn-success submit-button" ng-click="registerFunc()" value="Register"></button>
                    <!-- <button type="submit" class="btn btn-success" ng-click="registerFunc()">Register</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
</div>
