/* line 2, ../../tools/compass/sass/_home.scss */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* line 9, ../../tools/compass/sass/_home.scss */
.welcome {
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 0;
  line-height: 63px;
  font-size: 30px;
}

/* line 20, ../../tools/compass/sass/_home.scss */
.navbar-default {
  background-color: #0099cc;
  padding: 0;
}

/* line 27, ../../tools/compass/sass/_home.scss */
.carousel-inner .item {
  height: 500px;
}

/* line 38, ../../tools/compass/sass/_home.scss */
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 48, ../../tools/compass/sass/_home.scss */
.content {
  width: 70%;
  margin: auto;
}

/* line 54, ../../tools/compass/sass/_home.scss */
html {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

/* line 60, ../../tools/compass/sass/_home.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 66, ../../tools/compass/sass/_home.scss */
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 74, ../../tools/compass/sass/_home.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 79, ../../tools/compass/sass/_home.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

/* line 85, ../../tools/compass/sass/_home.scss */
#footer,
.page-wrap:after {
  height: 50px;
}

/**
 * Footer Styles
 */
/* line 95, ../../tools/compass/sass/_home.scss */
#footer {
  background-color: #0099cc;
  height: 50px;
  /* set line-height to height */
  line-height: 50px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 108, ../../tools/compass/sass/_home.scss */
#footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: 10px;
}

/* line 2, ../../tools/compass/sass/_post.scss */
.post-wrapper h3, .post-wrapper h5 {
  margin-left: 65px;
}

/* line 7, ../../tools/compass/sass/_post.scss */
.grey-box-no-width {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #d1d1e0;
  font-size: 20px;
}

/* line 15, ../../tools/compass/sass/_post.scss */
.arrows {
  font-size: 24px;
}

/* line 13, ../../tools/compass/sass/style.scss */
.grey-box {
  margin-top: 10px;
  background-color: #d1d1e0;
  width: 50%;
}

/* line 18, ../../tools/compass/sass/style.scss */
.nav-pad-top {
  padding-top: 55px;
}

/* line 22, ../../tools/compass/sass/style.scss */
.error-text {
  color: red;
}

/* line 26, ../../tools/compass/sass/style.scss */
.form-group {
  width: 80%;
  margin: auto;
}
/* line 29, ../../tools/compass/sass/style.scss */
.form-group label {
  margin-top: 10px;
}

/* line 34, ../../tools/compass/sass/style.scss */
.button-holder {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
