/* line 2, ../../tools/compass/sass/_home.scss */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* line 9, ../../tools/compass/sass/_home.scss */
.welcome {
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 0;
  line-height: 63px;
  font-size: 30px;
}

/* line 20, ../../tools/compass/sass/_home.scss */
.navbar-default {
  background-color: #0099cc;
  padding: 0;
}

/* line 27, ../../tools/compass/sass/_home.scss */
.carousel-inner .item {
  height: 500px;
}

/* line 38, ../../tools/compass/sass/_home.scss */
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 48, ../../tools/compass/sass/_home.scss */
.content {
  width: 70%;
  margin: auto;
}

/* line 54, ../../tools/compass/sass/_home.scss */
html {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

/* line 60, ../../tools/compass/sass/_home.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 66, ../../tools/compass/sass/_home.scss */
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 74, ../../tools/compass/sass/_home.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 79, ../../tools/compass/sass/_home.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

/* line 85, ../../tools/compass/sass/_home.scss */
#footer,
.page-wrap:after {
  height: 50px;
}

/**
 * Footer Styles
 */
/* line 95, ../../tools/compass/sass/_home.scss */
#footer {
  background-color: #0099cc;
  height: 50px;
  /* set line-height to height */
  line-height: 50px;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 108, ../../tools/compass/sass/_home.scss */
#footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: 10px;
}

/* line 1, ../../tools/compass/sass/_register.scss */
.register-wrapper {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 1, ../../tools/compass/sass/_post.scss */
.post-wrapper {
  font-family: 'Josefin Sans', sans-serif;
}
/* line 3, ../../tools/compass/sass/_post.scss */
.post-wrapper h3, .post-wrapper h5 {
  margin-left: 65px;
}
/* line 6, ../../tools/compass/sass/_post.scss */
.post-wrapper .fa-frown-o {
  color: red;
}

/* line 11, ../../tools/compass/sass/_post.scss */
.grey-box-no-width {
  margin-top: 10px;
  padding-top: 5px;
  background-color: #E6E6E6;
  font-size: 14px;
}

/* line 19, ../../tools/compass/sass/_post.scss */
.arrows {
  font-size: 22px;
}

/* line 1, ../../tools/compass/sass/_follow.scss */
.follow-wrapper {
  font-family: 'Josefin Sans', sans-serif;
}
/* line 3, ../../tools/compass/sass/_follow.scss */
.follow-wrapper .fa-frown-o {
  color: red;
}
/* line 6, ../../tools/compass/sass/_follow.scss */
.follow-wrapper .post {
  border-bottom: 1px solid lightblue;
}
/* line 9, ../../tools/compass/sass/_follow.scss */
.follow-wrapper h3,
.follow-wrapper h5 {
  margin-left: 65px;
}

/* line 2, ../../tools/compass/sass/_donate.scss */
.donate-wrapper form {
  padding-top: 5px;
}
/* line 6, ../../tools/compass/sass/_donate.scss */
.donate-wrapper #amount-group input {
  margin-right: 3px;
}
/* line 9, ../../tools/compass/sass/_donate.scss */
.donate-wrapper #amount-group span {
  margin-right: 5px;
}

/* line 15, ../../tools/compass/sass/style.scss */
body {
  font-family: 'Josefin Sans', sans-serif;
}

/* line 19, ../../tools/compass/sass/style.scss */
.grey-box {
  margin-top: 10px;
  background-color: #E6E6E6;
  width: 50%;
}

/* line 24, ../../tools/compass/sass/style.scss */
.nav-pad-top {
  padding-top: 55px;
}

/* line 28, ../../tools/compass/sass/style.scss */
#home-btn {
  position: relative;
  z-index: 5;
}

/* line 32, ../../tools/compass/sass/style.scss */
.error-text {
  color: red;
}

/* line 35, ../../tools/compass/sass/style.scss */
.pagination {
  margin: 5px 0;
}

/* line 38, ../../tools/compass/sass/style.scss */
.form-group {
  width: 80%;
  margin: auto;
}
/* line 41, ../../tools/compass/sass/style.scss */
.form-group label {
  margin-top: 10px;
}

/* line 46, ../../tools/compass/sass/style.scss */
.button-holder {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
