<div class="home-wrapper" ng-controller="homeController">
    <div class="my-carousel">
        <uib-carousel active="1" interval="5000" no-wrap="false">
            <uib-slide index="0">
                <img src="assets/img/091111133134_andrea_manta_466.jpg">
                <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
            </uib-slide>
            <uib-slide index="1">
                <img src="assets/img/manta-ray-120605.jpg">
                <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
            </uib-slide>
            <uib-slide index="2">
                <img src="assets/img/manta_ray2013_01.jpg">
                <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
            </uib-slide>
            <uib-slide index="3">
                <img src="assets/img/NassauBahamasBigMambo.png">
                <!-- <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
            </div> -->
            </uib-slide>
        </uib-carousel>
    </div>
    <div class="content">
        <div>
            <h2>Our Mission</h2>
            <p>
                We are a society dedicated to saving the mantary. We have been active for over 3 years and embrace every chance we get to save one of these majestic creatures. This site is a means for you to share your mantaray saving activity with other mantaray lovers. Please sign up and tell us a bit about the last mantaray you saved.
            </p>
        </div>
    </div>
</div>
