<div ng-controller="homeController">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../assets/img/091111133134_andrea_manta_466.jpg" alt="Slide1">
            </div>
            <div class="item">
                <img src="../assets/img/manta-ray-120605.jpg" alt="Slide2">
            </div>
            <div class="item">
                <img src="../assets/img/manta_ray2013_01.jpg" alt="Slide3">
            </div>
            <div class="item">
                <img src="../assets/img/NassauBahamasBigMambo.png" alt="Slide4">
            </div>
        </div>
        <!-- left and right Carousel controls -->
       <!--  <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a> -->
    </div>
</div>



