<div class="container-fluid donate-wrapper" ng-controller="donateController">
  <div class="row nav-pad-top">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h1>Make A Donation</h1>
      <h4>All fields are required</h4>
    </div>
  </div>
  <div class="row">
    <div class="error-text text-center">
      {{errorMessage}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 grey-box">
      <form role="form" name="donateForm" ng-submit="donateFunc()" novalidate>
        <div class="form-group" id="amount-group" ng-class="{ 'has-error': donateForm.amout.$touched && donateForm.amount.$invalid }">
          <input type="radio" ng-model="donateAmt" value="100000"/><span>$100,000</span>
          <input type="radio" ng-model="donateAmt" value="25000" /><span>$25,000</span>
          <input type="radio" ng-model="donateAmt" value="5000" /><span>$5,000</span>
          <input type="radio" ng-model="donateAmt" value="0" /><span>Enter an amount</span>
          <i class="fa fa-dollar"></i><input type="number" ng-model="donateAmtOther" min="1" step="any"  class="currency" value="" />

        </div>
        <div class="form-group" ng-class="{ 'has-error': donateForm.name.$touched && donateForm.name.$invalid }">
          <label>Full Name</label>
          <input type="text" name="name" required multiple ng-model="name" placeholder="Warren Buffet" ng-minlength="5" class="form-control">
          <div ng-messages="donateForm.name.$error" ng-if="donateForm.name.$touched" role="alert">
            <p ng-message="required">Name is required.</p>
            <p ng-message="minlength">Name is too short.</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': donateForm.address.$touched && donateForm.address.$invalid }">
          <label>Address</label>
          <input type="text" name="address" required multiple ng-model="address" placeholder="10 Ocean View" ng-minlength="5" class="form-control">
          <div ng-messages="donateForm.address.$error" ng-if="donateForm.address.$touched" role="alert">
            <p ng-message="required">Address is required.</p>
            <p ng-message="minlength">Address is too short.</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': dateForm.zip.$touched && dateForm.zip.$invalid }">
          <label>Zip</label>
          <input type="text" pattern="[0-9]*" name="zip" required multiple ng-change="zipChange()" ng-model="zip" placeholder="90210" ng-minlength="5" class="form-control">
          <div ng-messages="dateForm.zip.$error" ng-if="dateForm.zip.$touched" role="alert">
            <p ng-message="required">Zip is required.</p>
            <p ng-message="minlength">Zip is too short.</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': dateForm.city.$touched && dateForm.city.$invalid }">
          <label>City</label>
          <input type="text" name="city" required multiple ng-model="city" placeholder="Beverly Hills" ng-minlength="3" class="form-control">
          <div ng-messages="dateForm.city.$error" ng-if="dateForm.city.$touched" role="alert">
            <p ng-message="required">City is required.</p>
            <p ng-message="minlength">City is too short.</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': dateForm.state.$touched && dateForm.state.$invalid }">
          <label>State</label>
          <input type="text" name="state" required multiple ng-model="state" placeholder="CA" ng-minlength="2" class="form-control">
          <div ng-messages="dateForm.state.$error" ng-if="dateForm.state.$touched" role="alert">
            <p ng-message="required">State is required.</p>
            <p ng-message="minlenth">Enter state code</p>
          </div>
        </div>
        <div class="button-holder">
          <button type="submit" class="btn btn-primary" ng-disabled="donateForm.$invalid">Donate</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
